<div class="container">
  <h4><i class="fas fa-hand-point-right fa-fw c-seagreen"></i> 都道府県を選択</h4>
  <div class="row search-areas">
    <% @middle_classes.each do |middle_class| %>
      <%= render 'areas/area_button', name: middle_class.name, uri: "/small_classes/#{middle_class.id}" %>
    <% end %>
  </div>
</div>