<div class="container">
  <div class="row search_areas">
    <% @middle_classes.each do |middle_class| %>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <div class="prefecture">
          <%= link_to middle_class.name, "/show_small/#{middle_class.id}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>