<% if @hotels.present? %>
  <%= render 'user_selected' %>
  <%= render 'hotels', hotels: @hotels %>
<% elsif @hotel.present? %>
  <%= render 'hotel_information', hotel: @hotel %>
<% else %>
  <%= render 'user_selected' %>
  <div class="text-center">該当するホテルが見つかりません</div>
<% end %>